<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1VZxKOspcIWmnbXsKZZTgj2ymSxKuFtk</string>
	<key>GCM_SENDER_ID</key>
	<string>265189494364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.linguaNotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lingua-notes-f0549</string>
	<key>STORAGE_BUCKET</key>
	<string>lingua-notes-f0549.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265189494364:ios:16eae575422345e0426099</string>
</dict>
</plist>